
.header__head {
    padding: 64px 164px 0px 164px;
}

.head--port--color {
    color: #5FB4A2;
}

.head--home--color {
    color: #33323D;
}

.head--contato--color {
    color: #33323D;
}


.block {
    display: flex;
    justify-content: space-between;

    margin-top: 94px;
    padding: 0px 212px 0px 212px;
}

.block img {
    width: 540px;
}

.block__descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.line {
    border: 1px solid #33323D;
    height: 0px;
    width: 430px;
    opacity: 0.15;
}

.block__descricao_text {
    height: 502px;
    width: 430px;
}

.block__descricao_text p {
    height: 130px;
    width: 350px;
}

.block__descricao_text h1 {
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 28px;
    margin-top: 103px;
    
}

.block__descricao_text button {
    border: 1px solid #33323D;
    margin-top: 54px;
    padding: 17px 48px;
}

.block__descricao_text button:hover {
    background: #33323D;
    color: #FAFAFA;
}



.contato {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 150px;
    margin-top: 150px;
    padding: 0px 212px 0px 212px;
}

.contato h1 {
    font-size: 40px;
    line-height: 42px;
    width: 367px;
}

.contato button {
    border: 1px solid #33323D;
    
    padding: 17px 50px;
    
}

.contato button:hover {
    background: #33323D;
    color: #FAFAFA;
}

